# Built files
dist/
.publish/
# Packages folder.
node_modules/
yalc.lock
.yalc

# OS or Editor folders
.DS_Store
.idea
.nvmrc

# test folders
coverage
cypress/screenshots

# Local SSL certificates:
LocalhostCertificates