.menu
  display inline-block
  vertical-align middle
  padding-left 5px
  font-family 'Roboto', 'Arial', 'sans-serif'
  font-size 14px
  font-weight 500
  letter-spacing 0.2px
  color #222

.menu-hidden
  display none
.menu-showing
  display block

.menu-hidden, .menu-showing
  font-size 14px
  text-align center
  background none
  position fixed
  min-width 150px
  z-index 1000
  color #222
  ul
    text-align left
    display block
    margin-top 5px
    padding 2px
    list-style none
    box-shadow 0 2px 6px 2px rgba(0, 0, 0, 0.25)
    background #fff

  li.menuItem
    white-space nowrap
    display flex
    flex-direction row
    align-items center
    position relative
    padding 4px
    cursor pointer
    transition all 0.2
    &.disabled
      color #222
      opacity: 0.35
    &.separator
      border-top 1px solid #aaa
      padding 0
      height: 1px
      margin 4px
    .menu-list-icon
      height 18px
      width 18px
    .menu-item-content
      font-family Roboto
      font-size 14px
      letter-spacing 0.2px
      color #222
    .submenu-list-arrow
      height 24px
      width 24px
      transform rotate(270deg)
      position: absolute;
      right: 0;

  li:hover
    background #e9e9e9
    &.disabled
      color #222
      background none
      cursor not-allowed
    &.separator
      background none

.sub-menu
  position absolute;
  left 130px !important;
  display flex
  flex-direction row
