.menu-bar
  font-family 'Roboto', 'Arial', 'sans-serif'
  font-size 14px
  font-weight 500
  letter-spacing 0.2px
  width 100vw
  background-color #a5e3f6
  padding  8px 0px 8px
  color #222
  height menu-bar-height
  box-sizing border-box
  enable-flex(row)
  align-items center
  display flex
  flex-direction row
  align-items center
  justify-content: space-between;
  position relative
  border-bottom 1px solid #33b7e1
  box-shadow 0 0 6px 0 rgba(0, 0, 0, 0.25)

  span, i
    padding-left 0.5em
    padding-right 0.5em
    vertical-align middle
    display inline-block

  .menu-bar-content-filename
    font-family 'Roboto', 'Arial', 'sans-serif'
    font-size 14px
    font-weight 500
    letter-spacing 0.2px
    color #222
    height 30px
    display flex
    align-items center
    flex 0 1 auto
    cursor pointer
    vertical-align middle
    no-select()

    .content-filename
      display flex
      align-items center
      padding 0
      height 100%
      width fit-content
      padding 0 10px
      border-radius: 4px;
      border: solid 1px #006c8e;
      &:hover
        background-color #d3f4ff

    input
      width fit-content
      height 28px
      box-sizing border-box
      font-size 14px
      font-weight 500
      letter-spacing 0.2px
      font-family 'Roboto', 'Arial', 'sans-serif'
      border none
      outline none
      border-radius 4px
      padding 0 10px

  .menu-bar-file-status
    label-font()
    color white
    height 100%
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 45px
    margin-left 8px
    display flex
    align-items center
    justify-content center
    padding 0 10px
    &.alert
      background-color #b00020
    &.saving-info
      font-style: italic
      color #222
      background-color #f5f500
    &.info
      font-style: normal
      color #222
      background-color #00e100

  .menu-bar-left, .menu-bar-right
    height 100%
    display flex
    align-items center
    flex: 0 0 auto

    .menu-bar-button
      display: flex
      flex-direction: row
      align-items: center
      font-family 'Roboto', 'Arial', 'sans-serif'
      font-size 14px
      font-weight 500
      letter-spacing 0.2px
      background-color: #a5e3f6
      border: none
      width: fit-content
      height: 30px
      margin: 0 8px 0 10px
      border-radius: 4px
      box-sizing: border-box
      border: solid 2px transparent
      &:hover
        background-color: #d3f4ff
      &:active
        background-color: #eaf9ff
      &:focus
        border: solid 2px #0957d0
      .menu-icon
        height: 24px
        width: 24px

    .menu-hidden, .menu-showing
      margin-top 0
      position absolute
      top menu-bar-height - 16px

  .menu-bar-left
    .file-menu-button
      width: 66px
      padding: 0 8px 0 0
      .default-anchor
        padding-right: 5px
    .menu
      padding 0

    svg
      fill #fff
    svg.default-anchor
      border 1px solid #aaa
    .menu-showing
      left 10px

  .menu-bar-center
    display flex
    flex-direction row
    align-items center
    justify-content center
    flex 1 1 0%
    position absolute
    left 50%
    transform translateX(-15%)
    width max-content

  .menu-bar-right
    .lang-menu-button
      padding 0 0 0 5px
    .lang-label
      padding 0 8px 0 5px

  span.gdrive-user
    height 14px

  span.gdrive-icon
    background url("../../img/google-drive-16.png") no-repeat top left
    display inline-block
    width 16px
    height 16px
    padding 0
    position relative
    top -1px
    margin-right 3px

  span.document-store-icon
    background url("../../img/document-store-16.png") no-repeat top left
    display inline-block
    width 16px
    height 16px
    padding 0
    position relative
    top 3px

  .menu-list-container
    border-radius 4px
    box-shadow 0 2px 6px 2px rgba(0, 0, 0, 0.25)
    background-color #fff

    ul
      margin 0

  // Customize default drop-down styles. Language menu is a bit more compact.
  .lang-menu
    &.with-border
      border #aaa 1px solid
      padding-right 5px
    no-select()
    .menu-showing
      min-width 50px

    .lang-option
      padding 0
      .flag
        vertical-align middle
        margin-right 10px

