dialog-width = 690px
dialog-min-height = 310px
dialog-tab-width = 247px
tab-border-radius = 5px

.modal
  position fixed
  top 0
  left 0
  width 100vw
  height 100vh
  z-index 200
  background-color rgba(119, 119, 119, 0.5)

  .modal-content
    position fixed
    top 0
    left 0
    width 100vw
    height 100vh
    z-index 201

    .modal-dialog-container
      outline none
      width 100%
      height 100%

    .modal-dialog
      absolute(0, 0, 0, 0)
      width 100%
      height 100%
      enable-flex(column, justify: center, alignItems: center)

      .modal-dialog-wrapper
        max-width dialog-width
        background-color #fff
        border 1px solid #aaa

        .modal-dialog-title
          label-font()
          color #fff
          background-color #0b4e5d
          padding 10px
          text-align center

          .modal-dialog-title-close
            float right
            cursor pointer
            background none
            border none
            padding 0
            color #fff
            font-size 14px

        .modal-dialog-blocking-message
          padding 20px
          min-width 400px
          text-align center
          color #000

          button
            modal-button()

.modal-dialog-alert
  blenderbox-modal-labels()
  font-size 12px
  color #d96835
  margin 30px 0
  text-align center
  line-height 20px
