.rename-dialog
  padding 15px
  width 400px

  input
    border 1px solid dark-blue
    border-radius 4px
    font-size 14px
    margin 10px 0
    padding 5px
    width 100%

    &:focus
      background light-blue-4

  .buttons
    float right
    margin 10px 0

    button
      modal-button(14px)
      margin-left 10px
    button.disabled
      cursor not-allowed
      opacity .35
