dark       = #0f2633
dark-blue  = #105262
med-blue   = #01889e
light-blue = #72c0cc
teal       = #357f8b
blue-gray  = #a4b1b7
gold       = #f7be33
bbgray     = #ececec
green-blue = #3d826d
alert-orange = #bf5524
dark-gray  = #192f3c
light-red  = #e08d8d
light-gray = #eeedeb
