dark       = #0f2633
dark-blue  = #006c8e
med-blue   = #01889e
light-blue = #72c0cc
light-blue-1 = #8ddaf2
light-blue-2 = #bbefff
light-blue-3 = #a5e3f6
light-blue-4 = #d3f4ff
teal       = #357f8b
blue-gray  = #a4b1b7
gold       = #f7be33
bbgray     = #ececec
alert-orange = #bf5524
light-red  = #e08d8d
dark-gray  = #222
light-gray = #eeedeb
light-gray-1 = #d8d8d8
light-gray-2 = #c9cfd1
focus-blue = #0957d0
