modal-button($thickness=15px)
  line-height normal
  padding $thickness
  label-font(weight:bold, size:$thickness)
  color #fff
  background-color teal
  border-radius(10px)
  border 0
  &:hover
    background-color darken(teal, 30%)

.clickable
  cursor: pointer
