modal-button($thickness=15px)
  line-height normal
  padding 5px 15px
  label-font(weight:500, size:$thickness)
  color dark-gray
  background-color light-blue-2
  border solid 1px dark-blue
  border-radius(4px)
  box-sizing border-box
  display inline-block
  height 30px

  &.cancel
    background #fff
  &:hover
    background-color light-blue-3
  &:active
    background-color light-blue-1
  &:focus-visible
    outline 2px solid focus-blue
    outline-offset 2px
    box-shadow 0 0 0 2px white

.clickable
  cursor: pointer
